
*.zip
*.lock
workspace/.metadata/.log
*.index
*.xml
*.js
*.dat
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/JavaApp/.markers
*.version
*.tree
*.prefs
*.launch
*.xmi
*.db
workspace/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/f4/9004cf5a5b5f00191241acf98c3204c1
workspace/.metadata/.mylyn/.taskListIndex/segments_1
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/0/e0be7ec9505f00191241acf98c3204c1
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/12/500b3b612c5f00191241acf98c3204c1
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/17/a0cc6e5d225f00191241acf98c3204c1
workspace/.metadata/.plugins/org.eclipse.rse.core/.log
*.mark
workspace/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
*.properties
*.setup
*.log
*.resources
workspace/JavaApp/.classpath
workspace/JavaApp/.project
*.ini
